$colores: (
    primero-colores: rgb(131, 8, 8),
    segundo-colores: #741212,
    tercero-colores: white,
    cuarto-colores: black,
    quinto-colores: #25d366, 
    sexto-colores: #656565,
    septimo-colores: rgb(180, 17, 17),
);