@mixin grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
}

